TimeSheetClient/Web References/localhost/busTimeSheet.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Get_Form_Records">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="parintCompanyNo" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="parstrMenuId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parstrCurrentUserAccess" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="parint64CurrentUserNo" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_Form_RecordsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Get_Form_RecordsResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update_Records">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="parbyteDataSet" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update_RecordsResponse">
        <s:complexType />
      </s:element>
      <s:element name="Delete_Records">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="parintCompanyNo" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="parintPayCategoryNo" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="parblnPayCategoryDateOpen" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="parPayPeriodDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Delete_RecordsResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Get_Form_RecordsSoapIn">
    <wsdl:part name="parameters" element="tns:Get_Form_Records" />
  </wsdl:message>
  <wsdl:message name="Get_Form_RecordsSoapOut">
    <wsdl:part name="parameters" element="tns:Get_Form_RecordsResponse" />
  </wsdl:message>
  <wsdl:message name="Update_RecordsSoapIn">
    <wsdl:part name="parameters" element="tns:Update_Records" />
  </wsdl:message>
  <wsdl:message name="Update_RecordsSoapOut">
    <wsdl:part name="parameters" element="tns:Update_RecordsResponse" />
  </wsdl:message>
  <wsdl:message name="Delete_RecordsSoapIn">
    <wsdl:part name="parameters" element="tns:Delete_Records" />
  </wsdl:message>
  <wsdl:message name="Delete_RecordsSoapOut">
    <wsdl:part name="parameters" element="tns:Delete_RecordsResponse" />
  </wsdl:message>
  <wsdl:portType name="busTimeSheetSoap">
    <wsdl:operation name="Get_Form_Records">
      <wsdl:input message="tns:Get_Form_RecordsSoapIn" />
      <wsdl:output message="tns:Get_Form_RecordsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update_Records">
      <wsdl:input message="tns:Update_RecordsSoapIn" />
      <wsdl:output message="tns:Update_RecordsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete_Records">
      <wsdl:input message="tns:Delete_RecordsSoapIn" />
      <wsdl:output message="tns:Delete_RecordsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="busTimeSheetSoap" type="tns:busTimeSheetSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Get_Form_Records">
      <soap:operation soapAction="http://tempuri.org/Get_Form_Records" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_Records">
      <soap:operation soapAction="http://tempuri.org/Update_Records" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_Records">
      <soap:operation soapAction="http://tempuri.org/Delete_Records" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="busTimeSheetSoap12" type="tns:busTimeSheetSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Get_Form_Records">
      <soap12:operation soapAction="http://tempuri.org/Get_Form_Records" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_Records">
      <soap12:operation soapAction="http://tempuri.org/Update_Records" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_Records">
      <soap12:operation soapAction="http://tempuri.org/Delete_Records" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="busTimeSheet">
    <wsdl:port name="busTimeSheetSoap" binding="tns:busTimeSheetSoap">
      <soap:address location="http://localhost:1167/busTimeSheet.asmx" />
    </wsdl:port>
    <wsdl:port name="busTimeSheetSoap12" binding="tns:busTimeSheetSoap12">
      <soap12:address location="http://localhost:1167/busTimeSheet.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>